.settingsGroup {
  padding: 10px;
  position: relative;
  h1 {
    text-align: center;
    padding-bottom: 10px;
  }
  &__buttonBack {
    display: inline-block;
    padding: 10px 16px;
    background: rgb(120, 66, 214);
    border-radius: 12px;
    padding-bottom: 10px;
  }
  &__content {
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    // @media(max-width:600px){
    //   dis
    // }
  }
  &__avatarWrapper {
    max-width: 300px;
    max-height: 300px;
  }

  &__groupInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__groupInfoName {
  }
  &__groupInfoDescription {
  }
  &__groupInfoMembers {
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
  &__memberAvatarWrapper {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__delMember {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgb(45, 42, 148);
    cursor: pointer;

    &:hover {
      background: rgba(46, 42, 148, 0.638);
    }
  }
}
