.wrapper {
  padding: 10px;
  @media (max-width: 500px) {
    padding: 10px 5px;
  }
  h2 {
    text-align: center;
  }
  .profileContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 850px) {
      justify-content: center;
    }
    .imageContainer {
      .userImgOnlineBlock {
        position: relative;
        width: 300px;
        height: 300px;

        .blockImg {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .onlineBlock {
          position: absolute;
          bottom: 30px;
          right: 30px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #3edc00;
          border: 3px solid white; // для рамки, если надо
        }
      }
      .lastSeenBlock {
        justify-content: center;
        display: flex;
        gap: 10px;
      }
    }

    .infoBlock {
      // .buttonBlock {
      //   display: flex;
      // }
      & > div {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        span:first-child {
          color: rgb(213, 189, 251);
        }
      }
      .buttonBlock {
        .button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.129);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.493);
          }
          .iconCall {
            color: #423189;
          }
        }
      }
    }
    .form {
      & > div {
        display: flex;
        gap: 10px;
        label {
          color: rgb(213, 189, 251);
        }
        input {
          border-left: 1px solid rgb(213, 189, 251);
          // border-right: 1px solid rgb(213, 189, 251);
          padding-left: 10px;
          border-radius: 10px;
        }
      }
    }
    // .linkWantToSee {
    //   padding: 10px;
    //   background: #595aaa;
    //   border-radius: 20px;
    //   color: rgb(255, 255, 255);
    //   // margin: 10px 0;
    //   &:hover {
    //     background: #8789ff;
    //     color: rgb(0, 0, 0);
    //   }
    // }
  }
}
