.wrapper {
  width: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .blockImg {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
  .blockName {
    overflow: hidden;
    // width: 100%; // добавь %, чтобы заняло всю ширину wrapper
    // text-align: left; // выравнивание текста по левому краю
    // align-self: stretch; // чтобы элемент растянулся по ширине
  }
  .removeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ff4d4f;
    padding: 4px;
    display: flex;
    align-items: center;

    &:hover {
      color: #ff0000;
    }
  }
}
