.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px 15px;
  // border-radius: 8px;
  // border: none;
  // background: #2a2a2a;
  // color: #e5e5e5;
  cursor: pointer;
  // font-size: 13px;
  // font-weight: 500;
  // transition: background 0.2s, color 0.2s;
}

.active {
  background: #1a3a1a;
  color: #22c55e;

  &:hover {
    background: #204420;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background: #2a2a2a;
  }
}
