.modalAddGroup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.345);
  z-index: 100;

  &__wrapper {
    max-width: 700px;
    height: 55vh;
    background: #322e51;
    border-radius: 20px;
    color: white;
    padding: 20px;
    @media (max-width: 600px) {
      max-width: 90vw;
    }
  }
  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  &__inputWrapper {
    display: flex;
    gap: 20px;
    label {
      white-space: nowrap;
    }
    input {
      background: white;
      color: #322e51;
      border-radius: 8px;
      width: 100%;
    }
    textarea {
      width: 100%;
      max-height: 70px;
      background: white;
      border-radius: 8px;
      color: #322e51;
    }
  }
  &__buttonBlock {
    display: flex;
    gap: 20px;
  }
  &__button {
  }
  &__error {
    color: red;
  }
}
