.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 999;
  .containerScroll {
    width: 80vw;
    height: 80vh;
    padding: 20px;

    background-color: #6943bc;
    border-radius: 20px;
    @media (max-width: 600px) {
      width: 100vw;
      padding: 10px;
    }
    .container {
      overflow-y: auto;
      padding-right: 10px;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // padding: 20px;
      &::-webkit-scrollbar-track {
        border-radius: 20px;
      }
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }
      h3 {
        text-align: center;
      }
      .ratingForm {
        .titleBlock {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          align-items: center;
          input {
            flex: 1;
            border-radius: 10px;
            border: 1px solid rgb(157, 124, 204);
            padding: 5px;
          }
        }
        .formImageBlock {
          align-items: center;
          gap: 10px;
          display: flex;
          flex-wrap: wrap;
          padding: 10px 0;
          @media (max-width: 1000px) {
            justify-content: center;
          }
          .customFileUpload {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #4f46e5;
            color: white;
            // max-width: 10px;
            // font-weight: bold;
            transition: background-color 0.3s;
            &:hover {
              background-color: #3729ca;
            }
          }
          // max-width: calc(100vw - 100px);

          input {
            display: none;
            // max-width: calc(100% - 100px);
          }
          .preview {
            width: 200px;
            height: 200px;

            border-radius: 50%;
          }
        }
        .textareaBlock {
          display: flex;
          align-items: baseline;
          gap: 10px;
          flex-wrap: wrap;
          textarea {
            width: 100%;
            // height: 150px;
            resize: none;
            border: 1px solid rgb(157, 124, 204);
            border-radius: 10px;
            padding: 5px;

            overflow: hidden;

            transition: height 0.2s ease;
          }
        }
        .buttonBlock {
          display: flex;
          justify-content: center;
          gap: 20px;
          padding: 20px;
        }
      }
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }
}
