@mixin lineClamp($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  background-color: #d9c0f4;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 400px;
  // justify-content: space-between;
  &:hover {
    transform: translateY(-4px);
  }
  .imgBlock {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .genresBlockContainer {
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    position: relative;
    .genresBlockWindow {
      width: 100%;
      overflow: hidden;
    }

    .genresBlockSlider {
      display: flex;
      gap: 12px;
      animation: scrollGenres 20s linear infinite;
      width: max-content;
    }

    .genreItem {
      flex: 0 0 auto;
      padding: 6px 12px;
      background-color: #f0f0f0;
      border-radius: 20px;
      font-size: 14px;
      white-space: nowrap;
      user-select: none;
    }
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    @media (max-width: 500px) {
      padding: 10px 0 0 0;
    }
    .title {
      font-size: 1.1rem;
      font-weight: 600;
      color: #111827;
      max-width: 100%;
      @include lineClamp(1);
      text-align: center;
      color: #6037e7;
      // line-height: 1.7;
    }

    .description {
      max-width: 100%;

      border: 1px solid rgb(130, 93, 216);
      border-radius: 20px;
      padding: 10px;
      // display: -webkit-box;
      // -webkit-line-clamp: 3; /* 3 строки */
      // -webkit-box-orient: vertical;

      // line-clamp: 3;
      // overflow: hidden;
      @include lineClamp(3);

      line-height: 1.7;
      // font-size: 0.95rem;
      // color: #4b5563;
    }
  }

  .status {
    font-size: 0.85rem;
    font-weight: 500;
    color: #3b82f6;
  }

  .date {
    font-size: 0.75rem;
    color: #6b7280;
    margin-top: auto;
    span:last-child {
      color: #1a2231;
    }
  }
}

// .card .image {
//   width: 100%;
//   height: 180px;
//   object-fit: cover;
// }

// Ключевая анимация
@keyframes scrollGenres {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(5%);
  }
}
