.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.556);
  z-index: 100;

  .container {
    background: #453e98;
    width: 80vw;
    min-height: 60vh;
    border-radius: 20px;
    padding: 20px;
    color: rgb(223, 205, 255);
    @media (max-width: 1250px) {
      min-width: 90vw;
      min-height: 80vh;
      margin: 10px;
      // padding: 10px;
      padding: 10px;
      .imageStarsBlock {
        justify-content: center;
      }
    }

    .contentWrapper {
      max-height: 90vh; // ограничим максимальную высоту
      overflow-y: auto; // включим вертикальный скролл при необходимости
      padding: 10px;

      // @media (max-width: 1250px) {
      //   // padding: 10px;
      // }

      &::-webkit-scrollbar-track {
        border-radius: 20px;
      }
      .genresBlock {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        color: rgb(159, 217, 255);
      }
      .headerModule {
        display: flex;
        justify-content: space-between;
      }
      .imageStarsBlock {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        .blockImg {
        }
        .starsBlock {
        }
        .othersStars {
          max-height: 370px;
          width: 200px;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .otherStars {
            color: #2d2958;

            padding: 10px;
            background: #6e6ee1;
            border-radius: 20px;
            .userInfo {
              color: #d1b9f1;
              display: flex;
              gap: 10px;
              border-radius: 20px;
              background: #465bc2;
              .blockImg {
                overflow: hidden;
                border-radius: 50%;
              }
            }
          }
        }
      }
      .contentBlock {
        white-space: pre-wrap;
        text-indent: 1.5em;
      }
      .commentsBlock {
        color: #c0a2e6;
        .createCommentsBlock {
          textarea {
            border: 1px solid rgb(149, 72, 191);
            padding: 5px;
            border-radius: 10px;
            width: 100%;
            height: 120px;
            resize: none;
          }
        }
        .showCommentsBlock {
        }
      }
      .blockAuthorName {
        color: rgb(205, 113, 254);
      }
    }
  }
}
