.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.556);
  z-index: 100;

  .container {
    background: #453e98;
    width: 80vw;
    min-height: 60vh;
    border-radius: 20px;
    padding: 20px;
    color: rgb(223, 205, 255);
    @media (max-width: 1250px) {
      min-width: 100vw;
      min-height: 80vh;
      // margin: 10px;
      // padding: 10px;
      padding: 10px;
      .imageStarsBlock {
        justify-content: center;
      }
    }

    .contentWrapper {
      max-height: 80vh; // ограничим максимальную высоту
      overflow-y: auto; // включим вертикальный скролл при необходимости
      padding: 10px;

      @media (max-width: 500px) {
        padding: 0 10px 0 0;
      }

      &::-webkit-scrollbar-track {
        border-radius: 20px;
      }
      .genresBlock {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        color: rgb(159, 217, 255);
      }
      .headerModule {
        display: flex;
        justify-content: space-between;
        h2 {
          // word-break: break-all;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: normal;
        }
        .headerModuleButtonBlock {
          display: flex;
          gap: 20px;
          align-items: center;
          .buttonBlockEdit {
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            // color: black;
            &:hover {
              background-color: rgb(223, 205, 255);
              // color: rgb(223, 205, 255);
              color: #453e98;
            }
          }
        }
      }
      .imageStarsBlock {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        .blockImg {
          max-width: 500px;
          img {
            width: 100%;
          }
        }
        .starsBlock {
          form {
            position: relative;
            .spinnerWrapper {
              // box-sizing: content-box;
              top: -5%;
              left: -5%;
              // padding: 5px 10px;
              min-width: 110%;
              min-height: 110%;
              background: rgba(17, 29, 42, 0.512);
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              div {
                width: 70px;
                height: 70px;
              }
              // top: 50%;
              // left: 50%;
            }
          }
        }
        .othersStars {
          max-height: 370px;
          width: 200px;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .otherStars {
            color: #2d2958;

            padding: 10px;
            background: #6e6ee1;
            border-radius: 20px;
            .userInfo {
              color: #d1b9f1;
              display: flex;
              gap: 10px;
              border-radius: 20px;
              background: #465bc2;
              cursor: pointer;
              // &:hover {
              //   background-color: rgba(0, 0, 0, 0.552);
              // }
              // &:active {
              //   background-color: rgba(0, 0, 0, 0.816);
              //   color: white;
              // }
              .blockImg {
                overflow: hidden;
                border-radius: 50%;

                max-width: 40px;
                max-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
      .contentBlock {
        white-space: pre-wrap;
        text-indent: 1.5em;
        // word-break: break-all;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: normal;
        // text-align: center;
      }
      .commentsBlock {
        color: #c0a2e6;
        .createCommentsBlock {
          textarea {
            border: 1px solid rgb(149, 72, 191);
            padding: 5px;
            border-radius: 10px;
            width: 100%;
            height: 120px;
            resize: none;
          }
        }
        .commentList {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .showCommentsBlock {
        }
      }
      .blockAuthorName {
        color: rgb(205, 113, 254);
        div {
          // word-break: break-all;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: normal;
        }
      }
    }
  }
}
