.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    gap: 10px;
  }
  .userInfoBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    .avatarBlock {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      // border-radius: 20px;
      // padding: 5px;
      // &:hover {
      //   background-color: rgba(0, 0, 0, 0.552);
      // }
      // &:active {
      //   background-color: rgba(0, 0, 0, 0.816);
      //   color: white;
      // }
      .blockImg {
        width: 40px;
        border-radius: 50%;

        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .blockName {
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
    // width: 150px;
  }
  .commentContentBlock {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .blockContent {
      // word-break: break-all;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: normal;
    }
    .blockData {
      // justify-self: end;
      font-size: 13px;
      margin-left: auto;
    }
  }
}
