.button {
  cursor: pointer;
  padding: 10px;
  background-color: #9451f8;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  // font-size: vw;
  @media (max-width: 400px) {
    padding: 10px 5px;
    min-width: 0px;
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;
  &:hover {
    background-color: #8536fc;
  }
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
