.wrapper {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.478);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  color: rgb(226, 202, 202);

  // justify-content: space-between;
  align-items: center;

  gap: 20px;

  @media (max-width: 850px) {
    justify-content: center;
  }
  // .mainInfo {

  .blockImg {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
    }
  }
  .mainInfoContent {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 500px) {
      justify-content: center;
    }
    .blockInfo {
      & > div {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .blockInfoContent {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: normal;
        min-width: 150px;
      }
    }
  }
  // }
  .buttonContainer {
    // text-align: center;

    display: flex;
    align-items: center;

    .buttonBlock {
      padding: 10px;
      // width: 100%;
      border-radius: 50%;
      transition: all 0.3s ease;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: beige;
        color: black;
      }
    }
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
