.wrapper {
  background: #4d316f;
  border-radius: 20px;
  padding: 10px;
  color: antiquewhite;
  margin: 10px;
  h2 {
    text-align: center;
  }
  .listsBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .containerUser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .imgNameContainer {
        display: flex;
        align-items: center;

        align-items: center;
        gap: 20px;
        cursor: pointer;
        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
          @media (max-width: 850px) {
            width: 80px;
            height: 80px;
          }
          .imageBlock {
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .onlineBlock {
            position: absolute;
            bottom: 8px;
            right: 8px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #3edc00;
            border: 2px solid white; // для рамки, если надо
          }
        }
      }
    }
    .buttonContainer {
      display: flex;
      gap: 10px;
      // .buttonContainer {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   width: 50px;
      //   height: 50px;
      // }
      .buttonBlock {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #806c97;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #b9a9cb;
        }
      }
    }
  }
}
