.wrapper {
  height: 60px;
  // height: min(60px, 30vh);
  background-color: #b687fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #030032;
  grid-area: h;
  user-select: none;

  position: sticky;
  top: 0;
  z-index: 50;

  .logoWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 40px;
    }

    .hamburger {
      width: 30px;
      height: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 1100;
      background: none;
      border: none;
      span {
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
    }
    .hamburgerOpen span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
    .hamburgerOpen span:nth-child(2) {
      opacity: 0;
    }
    .hamburgerOpen span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }

  .blockAuth {
    display: flex;
    gap: 10px;
    div {
      padding: 10px;
      background-color: #9451f8;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #8536fc;
      }
    }
  }

  .profileWrapper {
    position: relative;
    .profile {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 50px;
        border-radius: 30px;
      }
    }

    .menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      border: 1px solid #ccc;
      padding: 8px;
      display: none;
      flex-direction: column;
      gap: 4px;
      z-index: 10;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      button {
        cursor: pointer;
        &:hover {
          background-color: #8536fc;
        }
      }
    }
  }

  /* Показываем меню при наведении */
  .profileWrapper:hover .menu {
    display: flex;
  }
}

// .hamburger span {
//   height: 3px;
//   background-color: black;
//   border-radius: 2px;
//   transition: all 0.3s ease;
// }

// .hamburgerOpen span:nth-child(1) {
//   transform: rotate(45deg) translate(6px, 6px);
// }

// .hamburgerOpen span:nth-child(2) {
//   opacity: 0;
// }

// .hamburgerOpen span:nth-child(3) {
//   transform: rotate(-45deg) translate(6px, -6px);
// }
