.wrapper {
  // height: 60px;
  background-color: #f3e8ff;
  grid-area: n;
  padding: 10px;
  user-select: none;
  div {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    color: #493775;
    &:hover {
      background-color: rgb(121, 92, 193);
      color: #f3e8ff;
    }
  }
  .scrollTopBtn {
    position: fixed;
    bottom: 30px;
    left: 60px;
    background-color: #543d8e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    // z-index: 100;
    transition: opacity 0.3s ease;

    &:hover {
      background-color: #2a30d7;
    }
  }
}

.hidden {
  @media (max-width: 768px) {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .wrapper {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: calc(100% - 60px);
    // background-color: #333;
    z-index: 1000;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
}

.overlay {
  position: fixed;
  z-index: 999; // меньше чем navbar
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
