.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: rgba(255, 255, 255, 0.577);
  .container {
    position: relative;
    min-width: 70vw;
    min-height: 70vh;
    padding: 10px;
    color: antiquewhite;
    background-color: rgba(41, 44, 122, 0.927);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    .buttonCloseBlock {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .lists {
      max-height: 60vh;
      overflow-y: auto;
      //   width: auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .list {
        display: flex;
        gap: 10px;
        align-items: center;
        .imgBlockList {
          max-width: 40px;
          max-height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .message {
        }
      }
    }
    .buttonBlock {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }
}
