.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 500px) {
    padding: 10px 0;
  }
  h2 {
    text-align: center;
  }
  .containerPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
