.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.589);
  .container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
    min-height: 70vh;
    background-color: rgb(51, 28, 142);
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    position: relative;
    @media (max-width: 850px) {
      min-width: 90vw;
      padding: 0;

      // min-height: 10vh;
    }
    @media (max-width: 500px) {
      min-width: 100vw;
      // min-height: 10vh;
    }
    textarea {
      border: 1px solid white;
      border-radius: 20px;
      padding-left: 10px;
      width: 80%;
      height: 200px;
      resize: none;
      @media (max-width: 500px) {
        width: 95%;
        // min-height: 10vh;
      }
    }
    .buttonBlock {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    // .buttonCloseBlock {
    //   position: absolute;
    //   top: 10px;
    //   right: 10px;
    // }
  }
}
