.containerDialogs {
  padding: 10px;
  h2 {
    text-align: center;
  }
  .dialogLists {
    background-color: #5746d8;
    border-radius: 20px;
    .dialogList {
      cursor: pointer;
      padding: 10px;
      display: flex;
      gap: 30px;
      .mainInfoUserBlock {
        display: flex;
        gap: 10px;
        align-items: center;
        .containerImageDialogs {
          width: 100px;
          height: 100px;
          position: relative;
          .blockImageDialogs {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .onlineBlockDialogs {
            position: absolute;
            bottom: 8px;
            right: 8px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #3edc00;
            border: 1px solid white; // для рамки, если надо
          }
        }
      }

      .dialogLastMessage {
        display: flex;
        gap: 10px;
        align-items: center;
        .userImgOnlineBlock {
          position: relative;
          width: 70px;
          height: 70px;

          .blockImg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .onlineBlock {
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #3edc00;
            border: 1px solid white; // для рамки, если надо
          }
        }
        .contentLastMessage {
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }
}
