.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.395);
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-width: 70vw;
    min-height: 80vh;
    border-radius: 20px;
    background-color: #5f50ce;
    color: white;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        border: 1px solid #a298ef;
        padding-left: 10px;
        border-radius: 20px;
        padding: 10px 10px 10px 20px;
      }
      .buttonBlock {
        display: flex;
        gap: 20px;
      }
    }
  }
}
